/* ----------contents3------------ */
.contents3{
    padding-bottom: 40px;
}
/* 회원가입 박스 */
.contents3 .sign-box{
    border: 1px solid #b7b7b7;
    width: 400px;
    margin: 0 auto;
    padding: 30px 20px;
}

/* sign-top */
.contents3 .sign-box .sign-top{
    padding-bottom: 35px;
    border-bottom: 1px solid #808080;
}
.contents3 .sign-box .sign-top span{
    width: 100px;
    display: inline-block;
    /* background-color: plum; */
}
.contents3 .sign-box .sign-top input{
    height: 32px;
    width: 162px;
}
.contents3 .sign-box .sign-top .sign-id{
    margin-bottom: 12px;
}
.contents3 .sign-box .sign-top .sign-id span{
    /* float: left; */
}
.contents3 .sign-box .sign-top .sign-id input{
    /* float: left; */
}
.contents3 .sign-box .sign-top .sign-id button{
    width: 100px;
    height: 33px;
    /* float: left; */
}
.contents3 .sign-box .sign-top .sign-id p{
    /* background-color: powderblue; */
    margin-left: 106px;
}
.contents3 .sign-box .sign-top .sign-pw{
    margin-bottom: 12px;
}
.contents3 .sign-box .sign-top .sign-name{
    margin-bottom: 12px;
}
.contents3 .sign-box .sign-top .sign-agree{}
.contents3 .sign-box .sign-top .sign-agree input{
    width: 13px;
    height: 13px;
}

/* sign-bottom */
.contents3 .sign-box .sign-bottom{
    padding-top: 10px;
}
.contents3 .sign-box .sign-bottom button{
    height: 40px;
    width: 380px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #808080;
}

