<!DOCTYPE html>

<html lang="ko"> <!-- 한국어문서만 검색할때, 음성으로 할때 한국어 음성지원 -->
    <head>
        <meta charset="UTF-8"> <!-- 브라우저가 문서를 해석할때 필요한 정보 -->
        <title>mysite-boardMain</title>
        <!-- 스타일시트자리 -->
        <link href="../../assets/css/main.css" rel="stylesheet">
        <link href="../../assets/css/userMain.css" rel="stylesheet">
        <link href="../../assets/css/userInfo.css" rel="stylesheet">
    </head>

    <body>
        <div id="wrap">
            <!-- header -->
            <header class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </header>
            <!-- 네비게이션 -->
            <nav>
                <ul class="clearfix">
                    <li><a href="">입사지원서</a></li>
                    <li><a href="">게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </nav>
            <!-- list내용 -->
            <div id="contents2" class="clearfix">
                <!-- 왼쪽 메뉴 -->
                <div id="aside">
                    <h2>회원</h2>
                    <ul>
                        <li><a href="">회원정보</a></li>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </div>
                <!-- 오른쪽 메뉴 -->
                <div id="main">
                    <!-- 위쪽 박스 -->
                    <div class="clearfix top-box" >
                        <h3>회원정보</h3>
                        <!-- 현재위치 -->
                        <ul class="clearfix">
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원정보</li>
                        </ul>
                    </div>
                    <!-- 회원가입 form -->
                    <div class="contents3">
                        <div class="sign-in-form">
                            <div class="form-wrap">
                                <span>아이디</span>
                                <strong>userid</strong>
                            </div>
                            <div class="form-wrap">
                                <span>패스워드</span>
                                <input type="password" placeholder="비밀번호를 입력하세요">
                            </div>
                            <div class="form-wrap">
                                <span>이름</span>
                                <input type="text" placeholder="이름을 입력하세요">
                            </div>
                            <div class="form-wrap">
                                <span>성별</span>
                                <label for="man">남</label>
                                <input id="man" type="radio" name="gender">
                                <label for="woman">여</label>
                                <input id="woman" type="radio" name="gender">
                            </div>
                            <div class="form-button2">
                                <button>회원정보수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <footer>
                <p>Copyright &copy; 2024 dldustn All right reserved</p>
            </footer>
        </div>
    </body>

</html>
